/* HERE ONLY THE GENERAL STYLE SHEETS WILL GO */
@import url('./variables.css');
@import url('./custom-bootstrap.css');
@import url('./partials.css');




.header-container{
    width: 100%;
    height: 60px;
    /* background-color: rgb(24, 154, 89); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #d7d7d7;
}
.body-container{
    width: 100%;
    height: calc(100vh - 60px);
    /* background-color: lightcoral; */
    position: relative;
}

.container-log-reg{
    width: 100%;
    height: calc(100vh - 60px);
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.log-reg-box{
    width: 85%;
    height: 85%;
    /* background-color: aqua; */
    border-radius: 10px;
    border: 5px solid #d7d7d7;
    display: flex;
    flex-direction: column;
}
/* .box-left{
    
}
.box-right{

} */

.brandi{
    height: 100%;
    width: 100%;
}
/* FONTS */
.font-size-normal {
    font-size: 1rem;
}

/* POSITION */

.h-center,
.w-center {
    display: flex !important;
}

.h-center {
    align-items: center;
}

.w-center {
    justify-content: center;
}

.w-sliding{
    /* overflow: hidden; */
    width: 0 !important;
    transition: all 150ms ease-in-out;
}

/* WIDTH AND HEIGHT */

.h1-w-auto {
    height: 1rem;
    width: auto;
}

.w075-h-auto {
    height: auto;
    width: .75rem;
}

.w1-h-auto {
    height: auto;
    width: 1rem;
}

.w1m-h-auto {
    height: auto;
    width: 1.5rem;
}

.w2-h-auto {
    height: auto;
    width: 2rem;
}

.w3-h-auto {
    height: auto;
    width: 3rem;
}

.w4-h-auto {
    height: auto;
    width: 4rem;
}

.w5-h-auto {
    height: auto;
    width: 5rem;
}

/* BUTTONS */

.brand-btn{
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.big-btn {
    padding: 1rem 3rem !important;
}

.btn-light-orange:hover {
    color: var(--white) !important;
    background-color: var(--orange) !important;
}

.btn-light-orange:hover img {
    filter: var(--f-white) !important;
}

/* #search_btn:checked ~ .w-sliding {
    width: 100% !important;
}

.btn-light-orange:hover ~ .w-sliding{
    width: 100% !important;
} */

.btn-center{
    min-height: 38px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.btn-sliding:hover .w-sliding{
    margin-left: .5rem;
    width: fit-content !important;
}

/* BORDERS */

.corners {
    border-radius: 0 !important;
}


