/* STYLES FOR PARTIALS */

.burger-menu {
    margin: .5rem;
}

.search-container {
    max-width: 40rem;
}

.search-container form {
    min-width: 20rem;
}

.pop-up-position {
    position: fixed;
    top: 5rem;
    right: 0;
    z-index: 10;
    max-width: 18rem;
}

.pop-up-position .alert {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: .5rem 1rem !important;
}

.pop-up-position .alert .btn-close {
    position: relative !important;
    padding: 0;
    min-width: 1rem;
    min-height: 1rem;
}

.pop-up-position .alert>* {
    font-size: 14px;
}

.pagination-800,
.pagination-250 {
    overflow: hidden;
}

.pagination-800 {
    max-width: 800px;
}

.pagination-250 {
    max-width: 250px;
}


/* Style for TAGs */


.single__tag {
    width: 130px;
    min-width: 130px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.single__tag--yellow,
.tag-group .single__tag:nth-child(1) {
    background-color: #E9C237;
}

.single__tag--blue,
.tag-group .single__tag:nth-child(2) {
    background-color: #34B9C1;
    margin-left: -33px;
}

.single__tag--green,
.tag-group .single__tag:nth-child(3) {
    background-color: #5DB63D;
    margin-left: -33px;
}

.single__tag--darkblue,
.tag-group .single__tag:nth-child(4) {
    margin-left: -33px;
    background-color: #4853BA;
}

.single__tag--purple,
.tag-group .single__tag:nth-child(5) {
    margin-left: -33px;
    background-color: #943FC8;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    padding-left: 10px;
    color: #fff;
    margin: 0;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
}

.btn-slide {
    width: 42px;
    justify-content: start !important;
}

.btn-slide,
.btn-slide span {
    transition: width 500ms ease-out 100ms;
}

.btn-slide span {
    width: 0%;
    overflow: hidden;
}

.btn-slide:hover {
    width: fit-content;
}

.btn-slide:hover span {
    width: 100%;
    padding-left: .5rem;
}

.blind {
    z-index: 1;
    width: 100px;
    height: 132px;
}

.blind>* {
    font-size: 14px;
    color: white;
}

.blind {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    z-index: 1;
    width: 100px;
    height: 132px;
    padding-bottom: 5px;
    transition: height .2s ease-in;
}

.blind span {
    transform: translateY(-1rem);
    transition: transform .3s ease-in;
    padding: 0 .5rem;
}

.blind:hover {
    height: 180px;
}

.blind:hover span {
    transform: translateY(0);
    padding-bottom: .2rem;
}

@media (max-width:475px) {
    .navbar-brand {
        /* background-color: red !important; */
        display: none !important;
        /* opacity: 0; */
        /* visibility: hidden; */
        /* width: 0; */
    }
}