{% extends 'core/base.html' %} {% load static %} {% block title %}
<title>{{app_title}} | {{title_view}}</title>
{% endblock title %} 

{% block contentfluid %}

  <article class="body-content">
    <section class="content-at">
      <div class="box-content-in-left d-none d-lg-block">
        {% include 'partials/_log_reg_left-content.html' %}
      </div> 
      <div class="box-content-in-right">
        <div class="right-content">
          <div class="r-content r-header-content">
            <h3 class="r-header-title text-uppercase text-center">{{title_view}}</h3>
            <h3 class="r-header-subtitle">Digite los campos solicitados</h3>
          </div>
          <div class="r-content r-body-content credentials-content">
            <div id="carousel" class="carousel carousel-dark slide">
                <div class="carousel-inner">
                  <div class="carousel-item active fat" data-bs-interval="10000">
                    <img src="{% static 'core/assets/img/forms-box-2.png' %}" class="d-block w-100" alt="...">
                    <div class="bi">
                        <div class="set-input max-w">
                            <input class="single-input" type="text" required>
                            <span class="input-placeholder">Correo Electronico</span>
                            <span class="input-icon"><i class="lni lni-envelope"></i></span>
                        </div>
                        <button 
                        class="default-btn d-block" type="submit" id="btn_save" data-bs-slide-to="1" aria-label="Slide 2"data-bs-target="#carousel">
                        Continuar
                        </button>
                    </div>
                  </div>
                  <div class="carousel-item fat" data-bs-interval="2000">
                    <img src="{% static 'core/assets/img/forms-box-2.png' %}" class="d-block w-100" alt="...">
                    <div class="bi ">
                        <div class="set-input max-w mini-inputs-group">
                           <input class="mini-input" type="text">
                           <input class="mini-input" type="text">
                           <input class="mini-input" type="text">
                           <input class="mini-input" type="text">
                           <input class="mini-input" type="text">
                           <input class="mini-input" type="text">
                        </div>
                        <button 
                        class="default-btn  d-block" type="submit" id="btn_save"data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3">
                        Enviar
                        </button>
                    </div>
                  </div>
                  <div class="carousel-item fat">
                    <img src="{% static 'core/assets/img/forms-box-2.png' %}" class="d-block w-100" alt="...">
                    <div class="bi">
                        <div class="set-input max-w">
                            <input class="single-input" type="text" required>
                            <span class="input-placeholder">Nueva Contraseña</span>
                            <span class="input-icon"><i class="lni lni-lock"></i></span>
                        </div>
                        <div class="set-input max-w">
                            <input class="single-input" type="text" required>
                            <span class="input-placeholder">Repetir contraseña</span>
                            <span class="input-icon"><i class="lni lni-lock"></i></span>
                        </div>
                        <button class="default-btn  d-block" type="submit" id="btn_save"data-bs-target="#carousel" data-bs-slide-to="0" aria-label="Slide 3">Continuar</button>
                    </div>
                  </div>
                </div>
           
              </div>
          </div>
          <div class="r-content r-footer-content text-center">
            <span class="r-footer-link">Si aun no tiene Usuario y Contraseña <br>registrese <b><a class="text-dark fw-bold" href="{% url 'users_app:register_choices' %}">AQUI</a></b></span>
          </div>
         
        </div>
      </div>
    </section>
  </article>
  
   
{% endblock contentfluid %}
