{% extends 'core/base.html' %} {% load static %} {% block title %}
<title>{{app_title}} | {{title_view}}</title>
{% endblock title %}

{% block contentfluid %}
<article class="content__center">
  <section class="principal__container">
    <div class="container_left">
      {% include 'partials/_log_reg_left-content.html' %}
    </div>
    <div class="container_right">
      <div class="container_right__content">
        <div class="rigth_content right_content__header">
          <p class="right_content__title m-0 text-uppercase">
            {{description_view}}
          </p>
          <p class="right_content__subtitle m-0 ">Digite sus Credenciales</p>
        </div>
        <div class="rigth_content right_content__body">
          <p class="m-0 right_content__reminder">Recuerde que puede usar tanto su correo electrónico como su usuario</p>
          <form action="" method="post" id="form">
            {% csrf_token %}
            <div class="set-input">
              {{form.username}}
              <span class="input-placeholder">Usuario</span>
              <span class="input-icon"><i class="lni lni-user"></i></span>
            </div>
            <div class="set-input my-3">
              {{form.password}}
              <span class="input-placeholder">Contraseña</span>
              <span class="input-icon"><i class="lni lni-lock"></i></span>
            </div>
            <a class="text-dark" href="{% url 'users_app:credentials_recover' %}">Recuperar Usuario o Contraseña</a>
            <button class="normal_btn" type="submit" id="btn_save">{{title_view}}</button>
          </form>
        </div>
        <div class="rigth_content right_content__footer text-center">
          <span class="rigth_content__link--footer">Si aun no tiene Usuario y Contraseña <br>registrese
            <b><a class="text-dark fw-bold" href="{% url 'users_app:register_choices' %}">AQUI</a></b>
          </span>
        </div>
      </div>
    </div>
  </section>
  {% comment %} {% include 'partials/_shape_divider.html' %} {% endcomment %}
</article>
{% endblock contentfluid %}
