{% extends 'core/base.html' %} {% load static %}
{% block title %}
<title>{{app_title}} | {{title_view}}</title>
{% endblock title %}


{% block contentfluid %}
<article class="content__center">
    <section class="principal__container">
        <div class="register_content">
            <div class="register_header">
                <div class="header_link__back">
                    <i class="lni lni-arrow-left-circle"></i>
                    <a href="{% url 'users_app:register_choices' %}"> Volver</a>
                </div>
                <div class="right_content__header">
                    <h3 class="right_content__title text-uppercase text-center">{{desciption_view}}</h3>
                </div>
            </div>
            <div class="register_body">
                <div class="group_inputs ">
                    <h3 class="register-col-text fw-bold">Datos Corporativos</h3>
                    <div class="set-input max-w">
                        <input class="single-input" type="text" required>
                        <span class="input-placeholder">Razon Social</span>
                        <span class="input-icon"><i class="lni lni-handshake"></i></span>
                    </div>
                    <div class="set-input max-w">
                        <input class="single-input" type="text" required>
                        <span class="input-placeholder">NIT</span>
                        <span class="input-icon"><i class="lni lni-license"></i></span>
                    </div>
                    <div class="set-input max-w">
                        <input class="single-input" type="text" required>
                        <span class="input-placeholder">Representante Legal</span>
                        <span class="input-icon"><i class="lni lni-customer"></i></span>
                    </div>
                    <div class="set-input max-w">
                        <input class="single-input" type="text" required>
                        <span class="input-placeholder">Cedula Representante Legal</span>
                        <span class="input-icon"><i class="lni lni-license"></i></span>
                    </div>
                    <div class="register_icon">
                        <span></span>
                        <span></span>
                        <span></span>

                    </div>
                </div>
                <div class="group_inputs group_inputs__column ">
                    <h3 class="register-col-text fw-bold">Datos de Recursos Humanos</h3>
                    <div class="set-input max-w">
                        <input class="single-input" type="text" required>
                        <span class="input-placeholder">Encargado Recur. Humanos</span>
                        <span class="input-icon"><i class="lni lni-customer"></i></span>
                    </div>
                    <div class="set-input max-w">
                        <input class="single-input" type="text" required>
                        <span class="input-placeholder">Correo Electronico</span>
                        <span class="input-icon"><i class="lni lni-envelope"></i></span>
                    </div>
                    <div class="set-input max-w">
                        <input class="single-input" type="text" required>
                        <span class="input-placeholder">Telefono Contacto</span>
                        <span class="input-icon"><i class="lni lni-phone"></i></span>
                    </div>
                    <div class="set-input max-w">
                        <input class="single-input" type="text" required>
                        <span class="input-placeholder">Direccion</span>
                       
                        <span class="input-icon"><i class="lni lni-money-location"></i></span>
                    </div>
                    
                </div>
                <div class="group_inputs  group_inputs__column ">
                    <h3 class="register-col-text fw-bold">Datos de Usuarios</h3>
                    <div class="set-input max-w">
                        <input class="single-input" type="text" required>
                        <span class="input-placeholder">Nombre de Usuario</span>
                        <span class="input-icon"><i class="lni lni-user"></i></span>
                    </div>
                    <div class="set-input max-w">
                        <input class="single-input" type="text" required>
                        <span class="input-placeholder">Correo Electronico</span>
                        <span class="input-icon"><i class="lni lni-envelope"></i></span>
                    </div>
                    <div class="set-input max-w">
                        <input class="single-input" type="text" required>
                        <span class="input-placeholder">Contraseña</span>
                        <span class="input-icon"><i class="lni lni-lock"></i></span>
                    </div>
                    <div class="set-input max-w">
                        <input class="single-input" type="text" required>
                        <span class="input-placeholder">Repetir Contraseña</span>
                        <span class="input-icon"><i class="lni lni-lock"></i></span>
                    </div>
                </div>
               


            </div>
            <div class=" register_footer  text-center ">
                <button class="normal_btn my-3" type="submit" id="btn_save">Registrarse</button>
                <span class="rigth_content__link--footer">Si ya tiene Usuario y Contraseña <br>ingrese <b><a class="text-dark fw-bold"
                            href="{% url 'users_app:login' %}">AQUI</a></b></span>
            </div>
        </div> 
      
    </section>
    {% comment %} {% include 'partials/_shape_divider.html' %} {% endcomment %}
  </article>
{% endblock contentfluid %}





                