{% extends 'core/base.html' %} {% load static %} {% block title %}
<title>{{app_title}} | {{title_view}}</title>
{% endblock title %} {% block contentfluid %}

<article class="body-content">
  <section class="content-at">
    <div class="box-content-in-left d-none d-lg-block">
      {% include 'partials/_log_reg_left-content.html' %}
    </div>
    <div class="box-content-in-right">
      <div class="right-content">
        <div class="rigth_content right_content__header">
          <p class="right_content__title m-0 text-uppercase text-center">
            {{title_view}}
          </p>
          <p class="right_content__subtitle m-0">
            Digite los campos solicitados
          </p>
        </div>
        <div class="rigth_content right_content__body">
          <form action="" method="post" id="form">
            {% csrf_token %}
            <div class="set-input">
              {{form.username}}
              <span class="input-placeholder">Usuario</span>
              <span class="input-icon"><i class="lni lni-user"></i></span>
            </div>
            <div class="set-input my-3">
              {{form.password}}
              <span class="input-placeholder">Contraseña</span>
              <span class="input-icon"><i class="lni lni-lock"></i></span>
            </div>
            <small class="text-muted mt-2">
              <a
                class="text-dark"
                href="{% url 'users_app:credentials_recover' %}"
                >Recuperar Usuario o Contraseña</a
              >
            </small>
            <button class="normal_btn" type="submit" id="btn_save">
              {{title_view}}
            </button>
          </form>
        </div>
        <div class="r-content r-body-content credentials-content">
          <div>
          </div>
          {% comment %} <div id="carousel" class="carousel carousel-dark slide">
            <div class="carousel-inner">
              <div class="carousel-item active fat" data-bs-interval="10000">
                <img
                  src="{% static 'core/assets/img/forms-box-2.png' %}"
                  class="d-block w-100"
                  alt="..."
                />
                <div class="bi">
                  <div class="set-input max-w">
                    <input class="single-input" type="text" required />
                    <span class="input-placeholder">Correo Electronico</span>
                    <span class="input-icon"
                      ><i class="lni lni-envelope"></i
                    ></span>
                  </div>
                  <button
                    class="default-btn d-block"
                    type="submit"
                    id="btn_save"
                    data-bs-slide-to="1"
                    aria-label="Slide 2"
                    data-bs-target="#carousel"
                  >
                    Continuar
                  </button>
                </div>
              </div>
              <div class="carousel-item fat" data-bs-interval="2000">
                <img
                  src="{% static 'core/assets/img/forms-box-2.png' %}"
                  class="d-block w-100"
                  alt="..."
                />
                <div class="bi">
                  <div class="set-input max-w mini-inputs-group">
                    <input class="mini-input" type="text" />
                    <input class="mini-input" type="text" />
                    <input class="mini-input" type="text" />
                    <input class="mini-input" type="text" />
                    <input class="mini-input" type="text" />
                    <input class="mini-input" type="text" />
                  </div>
                  <button
                    class="default-btn d-block"
                    type="submit"
                    id="btn_save"
                    data-bs-target="#carousel"
                    data-bs-slide-to="2"
                    aria-label="Slide 3"
                  >
                    Enviar
                  </button>
                </div>
              </div>
              <div class="carousel-item fat">
                <img
                  src="{% static 'core/assets/img/forms-box-2.png' %}"
                  class="d-block w-100"
                  alt="..."
                />
                <div class="bi">
                  <div class="set-input max-w">
                    <input class="single-input" type="text" required />
                    <span class="input-placeholder">Nueva Contraseña</span>
                    <span class="input-icon"><i class="lni lni-lock"></i></span>
                  </div>
                  <div class="set-input max-w">
                    <input class="single-input" type="text" required />
                    <span class="input-placeholder">Repetir contraseña</span>
                    <span class="input-icon"><i class="lni lni-lock"></i></span>
                  </div>
                  <button
                    class="default-btn d-block"
                    type="submit"
                    id="btn_save"
                    data-bs-target="#carousel"
                    data-bs-slide-to="0"
                    aria-label="Slide 3"
                  >
                    Continuar
                  </button>
                </div>
              </div>
            </div>
          </div> {% endcomment %}
        </div>
        <div class="rigth_content right_content__footer text-center">
          <span class="rigth_content__link--footer"
            >Si aún no tiene un usuario y contraseña, <br />regístrese
            <b
              ><a
                class="text-dark fw-bold"
                href="{% url 'users_app:register_choices' %}"
                >AQUÍ</a
              ></b
            >
          </span>
        </div>
      </div>
    </div>
  </section>
</article>

{% endblock contentfluid %}
