{% load format_numbers %}

<aside
  class="d-flex flex-column justify-content-between position-absolute top-0 bg-white border-end l-aside"
>
  <div class="d-flex flex-column gap-4">
    <div class="row">
      <h6 class="fw-bold d-flex gap-2 align-items-center position-relative">
        {% comment %} <i class="lni lni-user"></i> {% endcomment %}
        {% include 'partials/_thumbnail.html' %}
        {% if request.user.userprofile.name %}
        {{ request.user.userprofile.name }}
        {% elif request.user.first_name %}
        {{ request.user.first_name }}
        {% else %}
        {{ request.user.username }}
        {% endif %}
        <a 
          href="{% url 'users_app:userprofile' request.user.username %}"
          class="stretched-link"
        ></a>
      </h6>
      <hr />
      <div class="list-group list-group--custom rounded-0">
        <a 
          href="{% url 'users_app:userprofile' request.user.username %}"
          class="list-group-item list-group-item-action border-0 {% if profile %}active{% endif %}"
        >
          Perfil
        </a>
        <a 
          href="{% url 'offers_app:bidding_panel' %}"
          class="list-group-item list-group-item-action border-0 {% if in_offer %}active{% endif %}"
        >
          Ofertas
          {% if in_offer_detail %}
          <br />
          <small class="text-black-50">Detalle...</small>
          {% endif %}
        </a>
        {% for rule in request.user.rule_user.all %}
          {% if request.user.is_staff or rule.usergroup.code == 'COM' %}
            <a 
              href="{% url 'offers_app:mypublications' request.user.username %}"
              class="list-group-item list-group-item-action border-0 {% if in_mypublications %}active{% endif %}"
            >
              Mis publicaciones
              {% if in_mypublications_add %}
              <br />
              <small class="text-black-50">Creando...</small>
              {% elif in_mypublications_edit %}
              <br />
              <small class="text-black-50">Editando...</small>
              {% elif in_mypublications_detail %}
              <br />
              <small class="text-black-50">Detalle...</small>
              {% endif %}
            </a>
          {% elif rule.usergroup.code == 'GRA' %}
            <a 
              href="{% url 'offers_app:mycandidacies' request.user.username %}"
              class="list-group-item list-group-item-action border-0 {% if mycandidacies %}active{% endif %}"
            >
              Mis postulaciones
            </a>
          {% elif rule.usergroup.code == 'MOD' %}
            <a 
              href="{% url 'reports_app:user_report' %}"
              class="list-group-item list-group-item-action border-0 {% if reports %}active{% endif %}"
            >
              Reportes
            </a>
          {% endif %}
        {% empty %}
          {% if request.user.is_staff %}
            <a 
              href="{% url 'offers_app:mypublications' request.user.username %}"
              class="list-group-item list-group-item-action border-0 {% if in_mypublications %}active{% endif %}"
            >
              Publicaciones
            </a>
            <a 
              href="{% url 'offers_app:mycandidacies' request.user.username %}"
              class="list-group-item list-group-item-action border-0 {% if mycandidacies %}active{% endif %}"
            >
              Candidaturas
            </a>
            <a 
              href="{% url 'reports_app:user_report' %}"
              class="list-group-item list-group-item-action border-0 {% if reports %}active{% endif %}"
            >
              Reportes
            </a>
          {% endif %}
        {% endfor %}
        <a 
          href="{% url 'users_app:notifications' request.user.username %}"
          class="list-group-item list-group-item-action border-0 {% if notifications %}active{% endif %}"
        >
          Notificaciones
        </a>
      </div>
    </div>
    {% if similar_offers %}
    <div class="row" id="similarOffers">
      <h6 class="fw-bold">Ofertas similares</h6>
      <hr />
      {% for offer in similar_offers %}
      <div class="card mb-3">
        <div class="card-body">
          <p class="m-0">
            <strong>{{ offer.title }}</strong>
            <br />
            <small class="text-muted">{{ offer.city }}</small>
            <br />
            <a href="{% url 'offers_app:offer_detail' offer.id %}" class="stretched-link link-orange">
              {{ offer.currency }}
              {{ offer.salary|currency_format }}
              {{ offer.payperiod }}
            </a>
          </p>
        </div>
      </div>
      {% endfor %}
      <p>
        <a href="{% url 'offers_app:offer_list' %}" class="link-orange">
          Ver todas las ofertas
        </a>
      </p>
    </div>
    {% endif %}
  </div>
  <div>
    {% include 'partials/_aside_info.html' %}
  </div>
</aside>
