{% load static %}


<button class="card_ofert">
    <div class="card_ofert__top">
        <div class="ofert_top__header">
            <div class="ofert_header">
                <!-- <div class="ofert_header__priority text-capitalize">
                    urgente
                </div> -->
                <p class="ofert_header__title m-0 text-uppercase">se busca programador(a) web</p>
            </div>
            <div class="ofert_header__tags">
                {% include 'partials/_tags.html' %}
            </div>
        </div>
        <div class="ofert_top__bottom">
            <div class="ofert_icons">
                <span class=""><i class="lni lni-apartment"></i></span>
                <p class="m-0">Lorem S.a.S</p>
            </div>
            <div class="ofert_icons">
                <span class=""><i class="lni lni-briefcase"></i></span>
                <p class="m-0">Contrato Indefinido</p>
            </div>
            <div class="ofert_icons">
                <span class="ofert_icons__icon"><i class="lni lni-alarm-clock"></i></span>
                <p class="m-0">Tiempo Completo</p>
            </div>
        </div>
        <div class="divisor"></div>
    </div>
    <div class="card_ofert__middle">
        <p class="m-0">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet, eaque officiis? Minima dolores, sint, nostrum modi corrupti saepe tempore optio molestias nemo ratione culpa magni, voluptates cum quibusdam sit incidunt. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda nemo, aut quo blanditiis nisi ratione rerum ipsa reiciendis, aperiam, eligendi quasi. Rerum dignissimos expedita commodi fugiat eveniet ab modi explicabo!
        </p> 
    </div>
    <div class="card_ofert__bottom">
        <div class="salary_hoped">
            <p class="m-0">Salario Estimado: <b>$3.000.000</b> </p>
        </div>
        <a class="normal_btn watch_ofert d-none" href="">Ver Oferta</a>
    </div>
</button>


