{% load static %}

<div class="single-filter date-filter">
    <p class="single-filter__title">Fecha</p>
    <div class="single-filter__rb-filter">
        <input type="radio" name="day-filter" id="today">
        <label for="today">Hoy</label><br>
        <input type="radio" name="day-filter" id="week">
        <label for="week">Esta Semana</label><br>
        <input type="radio" name="day-filter" id="month">
        <label for="month">Este Mes</label><br>
        <input type="radio" name="day-filter" id="last-month">
        <label for="last-month">Mes Pasado</label><br>
        <input type="radio" name="day-filter" id="days-all">
        <label for="days-all">Todo</label>

    </div>
</div>
<div class="single-filter modality-filter">
    <p class="single-filter__title">Modalidad</p>
    <div class="single-filter__rb-filter">
        <input type="radio" name="modality" id="presencial">
        <label for="presencial">Presencial</label><br>
        <input type="radio" name="modality" id="Remote">
        <label for="Remote">Remoto</label><br>
        <input type="radio" name="modality" id="hybrid">
        <label for="hybrid">Este Mes</label><br>
        <input type="radio" name="modality" id="modal-all">
        <label for="modal-all">Todo</label>

    </div>
</div>
<div class="single-filter city-filte">
    <p class="single-filter__title">Municipio</p>
    <div class="single-filter__rb-filter">
        <input type="radio" name="city" id="bucara">
        <label for="bucara">Bucaramanga</label><br>
        <input type="radio" name="city" id="barranca">
        <label for="barranca">Barrancabermeja</label><br>
        <input type="radio" name="city" id="sangil">
        <label for="sangil">San gil</label><br>
        <input type="radio" name="city" id="city-all">
        <label for="city-all">Todo</label>

    </div>
</div>
<div class="single-filter status-filter">
    <p class="single-filter__title">Estado</p>
    <div class="single-filter__rb-filter">
        <input type="radio" name="status" id="active">
        <label for="active">Activo</label><br>
        <input type="radio" name="status" id="done">
        <label for="done">finalizado</label><br>
        <input type="radio" name="status" id="stat-all">
        <label for="stat-all">Todo</label>

    </div>
</div>