{% load static %}
<div class="contact-container">
    <div class="contact">
        <h4 class=" text-uppercase text-light">contacto</h4>
        <div class="info">
            <div class="single-info text-light">
                <span class="info-icon"><i class="lni lni-phone"></i></span>
                <p class="m-0 info-text">Linea Atencion : 666-66-66</p>
            </div>
            <div class="single-info text-light">
                <span class="info-icon"><i class="lni lni-envelope"></i></span>
                <p class="m-0 info-text">Email: Soytucontacto@...</p>
            </div>
            <div class="single-info text-light">
                <span class="info-icon"><i class="lni lni-whatsapp"></i></span>
                <p class="m-0 info-text">Whattsap: (+57) 000-000-000</p>
            </div>
        </div>
    </div>
    <div class="contact">
        <h4 class=" text-uppercase text-light">conocenos</h4>
        <div class="info">
            <div class="single-info text-light">
               
                <p class="m-0 info-text">Universidad de......</p>
            </div>
            <div class="single-info text-light">
                <span class="info-icon"><i class="lni lni-money-location"></i></span>
                <p class="m-0 info-text">Direccion: Calle X No. XX-XX</p>
            </div>
      
            <div class="single-info text-light">
               
                <p class="m-0 info-text">Bucaramanga,Santander</p>
            </div>
        </div>
    </div>
    <div class="contact">
        <h4 class=" text-uppercase text-light">redes sociales</h4>
        <div class="info">
            <div class="single-info text-light">
                <span class="info-icon"><i class="lni lni-website"></i></span>
                <p class="m-0 info-text">https://www.myweb/site/bolsaempleo</p>
            </div>
            <div class="single-info text-light">
                <span class="info-icon"><i class="lni lni-popup"></i></span>
                <p class="m-0 info-text">Fax:666-66 </p>
            </div>
            <div class="single-info text-light">
                <span class="info-icon"><i class="lni lni-instagram-fill"></i></span>
                <span class="info-icon"><i class="lni lni-linkedin-original"></i></span>
                <span class="info-icon"><i class="lni lni-facebook-fill"></i></span>

            </div>
         
        </div>
    </div>
</div>
<div class="madeby text-light">
        <h6 class="made-by-text">Realizado por: Jerson Guerrero & Juan Rincon </h6>
        <h6 class="made-by-text">Proyecto de Grado para el programa de Ingeniería de Sistemas, 2023</h6>
</div>