<div class="modal-header">
  <h5 class="modal-title">Actualizar</h5>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
  ></button>
</div>
<div class="modal-body">
  {% csrf_token %}
  <div class="d-flex flex-column gap-2">
    <div class="col-12 mb-2">
      <small class="text-muted">ID: {{object.id}}</small>
    </div>
    {{form}}
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
    Cerrar
  </button>
  <button type="submit" class="btn btn-primary">Guardar cambios</button>
</div>
