<ul class="navbar-nav mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{% url 'home_app:help' %}">Ayuda</a>
    </li>
    {% if user.is_staff %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Configuración
        </a>
        <ul class="dropdown-menu dropdown-menu-lg-end">
            <li><a class="dropdown-item" href="{% url 'users_app:usergroup_list' %}">Grupos de Usuarios</a></li>
            <li><a class="dropdown-item" href="{% url 'users_app:restriction_list' %}">Restricciones</a></li>
            <li><a class="dropdown-item" href="{% url 'users_app:app_list' %}">Aplicaciones</a></li>
            <li><a class="dropdown-item" href="{% url 'users_app:role_list' %}">Roles</a></li>
            <li>
                <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="{% url 'users_app:rule_list' %}">Reglas</a></li>
            <li><a class="dropdown-item" href="{% url 'users_app:user_list' %}">Usuarios</a></li>
            <li><a class="dropdown-item" href="/admin">Panel Administrativo de Django</a></li>
        </ul>
    </li>
    {% endif %}
    {% if user.is_authenticated %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            {{user.email}}
        </a>
        <ul class="dropdown-menu dropdown-menu-lg-end">
            <li><a class="dropdown-item" href="{% url 'users_app:logout' %}">Cerrar sesión</a></li>
        </ul>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'users_app:login' %}">Ingresar</a>
    </li>
    <li class="nav-item">
        <!-- <a class="nav-link" href="{% url 'users_app:register' %}">Registrarse</a> -->
        <a class="nav-link" href="{% url 'users_app:pre_register' %}">Registrarse</a>
    </li>
    {% endif %}
</ul>