<ul class="navbar-nav mb-2 mb-lg-0">
    {% comment %} <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li> {% endcomment %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            {% if current_email %}{{current_email}}{% else %}Configuraciones{% endif %}
        </a>
        <ul class="dropdown-menu dropdown-menu-lg-end">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
                <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </li>
    {% comment %} <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
    </li> {% endcomment %}
</ul>