{% load static %}


<nav class="navbar navbar-expand-lg p-0 m-0 bg-white border-bottom">
    <div class="container-fluid p-0">
        
        <button class="navbar-toggler border-0 burger-menu" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            {% include 'partials/icon_element/_burger_icon.html' %}
        </button>
        <div class="collapse navbar-collapse py-2 px-4 justify-content-between me-3" id="navbarSupportedContent" style="padding-left: 300px !important;">
            <div class="d-flex search-container">
                <form role="search" method="GET">
                    {% if search %}
                    {% include 'partials/_search_input.html' %}
                    {% endif %}
                </form>
            </div>
            {% include 'partials/_navbar_items.html' %}
        </div>
    </div>
</nav>
