{% load static %}

<div class="notify-content">
    <div class="notify-content__header">
        <div class="notify-content__icon"><i class="lni lni-warning"></i></div>
        <div class="notify-title__content">
            <p class="m-0 title-content__title">Publicacion de la misma oferta en reiteradas ocaciones</p>
            <p class="m-0 title-content__subtitle">tipo de mensaje : <b>spam</b></p>
        </div>
        <div class="notify-content__time">
            <p class="m-0 notify-time">03 de marzo,2023</p>
        </div>
    </div>
    <div class="notify-content__body">
        <p class="m-0 notify-desc__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt earum, aspernatur ex hic ipsum distinctio minima, est quis quibusdam vel tempora tenetur quas et magni voluptatum quisquam ullam nobis nihil?</p>
    </div>
    <div class="notify-content__footer">
        <p class="m-0"><b>Adjuntos:</b>none</p>
    </div>
</div>