{% load  static %}



<div class="single__tag single__tag--yellow">
    <p class="tag text-capitalize m-0">frontend</p>
</div>
<div class="single__tag single__tag--blue">
    <p class="tag text-capitalize m-0">backend</p>
</div>
<div class="single__tag single__tag--green">
    <p class="tag text-capitalize m-0">full-stack</p>
</div>
<div class="single__tag single__tag--darkblue">
    <p class="tag text-capitalize m-0">developer</p>
</div>
<div class="single__tag single__tag--purple">
    <p class="tag text-capitalize m-0">web developer</p>
</div>