<div class="aside__container d-none d-lg-block">
  <div class="aside-content">
    <div class="sub-nav">
      <h5 class="m-0 sub-nav__title">Lorem Estudiante</h5>
      <div class="sub-nav__items">
        <ul class="m-0 p-0">
          <li>
            <a href="{% url 'users_app:userprofile' username %}">Perfil</a>
          </li>

          <li>
            <a href="">Postulaciones</a>
          </li>

          <li>
            <a href="/notifications">Notificaciones</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
