{% extends 'core/base.html' %} {% load static %} 

{% block title %}
<title>{{app_title}} | {{title_view}}</title>
{% endblock title %}

{% block contentfluid %}

<section class="my-1 position-relative">
  {% include 'partials/_aside.html' %}
  <div class="row justify-content-start p-5 gap-3" style="width: calc(100% - 300px); margin-left: 300px;">
    <form method="POST" enctype="multipart/form-data" action="{% url 'users_app:userprofile_edit' username %}" id="form">
      {% csrf_token %}
      {% include 'partials/_userprofile_form.html' %}
    </form>
  </div>
  
  </form>
</section>

{% endblock contentfluid %}
