{% extends 'core/base.html' %} {% load static %} 

{% block title %}
<title>{{app_title}} | {{title_view}}</title>
{% endblock title %}

{% block contentfluid %}

<section class="base__size">
  {% include 'partials/_aside.html' %}
  {% comment %} {% include 'partials/_display.html' %} {% endcomment %}
  <div class="no-aside__container">
    <form method="POST" action="{% url 'users_app:userprofile_add' username %}" id="form">
      {% csrf_token %}
      {% include 'partials/_userprofile_form.html' %}
    </form>
  </div>
  
  </form>
</section>

{% endblock contentfluid %}
