{% extends 'core/base.html' %}
{% load static %}
{% block title %}
<title>{{app_title}} | {{title_view}}</title>
{% endblock title %}


{% block content %}
<section class="base__size">
    <div class="aside__container d-none d-lg-block">
        <div class="aside-content">
            <div class="sub-nav">
                <h5 class="m-0 sub-nav__title">Lorem Estudiante</h5>
                <div class="sub-nav__items">
                    <ul class="m-0 p-0">
                        <li>
                            <a href="/profile">Perfil</a>
                            <p class="m-0 text-orange">Editando...</p>
                        </li>

                        <li>
                            <a href="">Postulaciones</a>
                        </li>

                        <li>
                            <a href="/notifications">Notificaciones</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="no-aside__container">
        <div class="profile-content__container">
            <!-- <div class="dropdown d-block d-lg-none">
                <button class=" dropdown-toggle navy-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Navega dandole Aqui
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item" href="/profile">Perfil</a>
                        

                    </li>
                    <li>
                        <a class="dropdown-item" href="/postulations">Postulaciones</a>
                    </li>
                </ul>
            </div> -->
            <div class="profile__info">

                <h3 class="profile__info-title m-0">perfil</h3>
                <!-- <div class="img-card__info">
                    <div class="img-content__info">
                        <img src="{% static 'core/assets/img/montains.jpg' %}" alt="">
                    </div>
                    <div class="curriculum-title">
                        <p class="curriculum-title__title m-0">ingenieria de sistemas</p>
                        <p class="curriculum-title__desc m-0">profesional TICs</p>
                        
                    </div>
                    <button class="update-img">Actualizar</button>
                  
                </div> -->
                <div class="profile-info__data">
                    <div class="own-data">
                        <h4 class="data-title">Informacion Personal</h4>
                        <div class="data-info">
                            <div class="data-info__row">
                                <div class="set-input max-w ">
                                    <input class="single-input" type="text" required>
                                    <span class="input-placeholder">Nombre Completo</span>
                                    <span class="input-icon"><i class="lni lni-handshake"></i></span>
                                </div>
                                <div class="set-input max-w ">
                                    <input class="single-input" type="text" required>
                                    <span class="input-placeholder">Numero Identificacion</span>
                                    <span class="input-icon"><i class="lni lni-license"></i></span>
                                </div>
                            </div>
                            <div class="data-info__row">
                                <div class="set-input max-w ">
                                    <input class="single-input" type="text" required>
                                    <span class="input-placeholder">Correo Electronico</span>
                                    <span class="input-icon"><i class="lni lni-envelope"></i></span>
                                </div>
                                <div class="set-input max-w ">
                                    <input class="single-input" type="text" required>
                                    <span class="input-placeholder">Telefono</span>
                                    <span class="input-icon"><i class="lni lni-phone"></i></span>
                                </div>
                            </div>
                            <div class="data-info__row">
                                <div class="set-input max-w ">
                                    <input class="single-input" type="text" required>
                                    <span class="input-placeholder">Telefono</span>
                                    <span class="input-icon"><i class="lni lni-phone"></i></span>
                                </div>
                                <div class="set-input max-w ">
                                    <input class="single-input" type="text" required>
                                    <span class="input-placeholder">whatever</span>
                                    <span class="input-icon"><i class="lni lni-phone"></i></span>
                                </div>
                               
                            </div>
                            <div class="data-info__row data-info__row--select">
                                <div class=" ">
                                    <input type="file"  id="inputGroupFile01">
                                  </div>
                            </div>
                            <div class="data-info__row">
                                <div class="group-data group-data__about">
                                    <p class="group-data__title m-0">sobre mi</p>
                                    <textarea name="" id="" cols="20" rows="4" class="texty">

                                        </textarea>
                                </div>
                            </div>
                            <div class="data-info__btn">
                                <a href="/edit_profile">
                                    <button class="data-info__btn--edit">Actualizar</button>
                                </a>
                            </div>
                        </div>
                    </div>
                  

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}