{% extends 'core/base.html' %}
{% load static %}
{% block title %}
<title>{{app_title}} | {{title_view}}</title>
{% endblock title %}


{% block contentfluid %}
<section class="base__size">
    <div class="aside__container d-none d-lg-block">
        <div class="aside-content">
            <div class="sub-nav">
                <h5 class="m-0 sub-nav__title">Lorem Estudiante</h5>
                <div class="sub-nav__items">
                    <ul class="m-0 p-0">
                        <li>
                            <a href="/profile">Perfil</a>
                            <p class="m-0 text-orange">Editando...</p>
                        </li>

                        <li>
                            <a href="">Postulaciones</a>
                        </li>

                        <li>
                            <a href="/notifications">Notificaciones</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="no-aside__container">
        <div class="profile-content__container">
            <div class="profile__info">
                <h3 class="profile__info-title m-0">perfil</h3>
                {% comment %}
                <div class="img-card__info">
                    <div class="img-content__info">
                        <img src="{% static 'core/assets/img/montains.jpg' %}" alt="">
                    </div>
                    <div class="curriculum-title">
                        <p class="curriculum-title__title m-0">ingenieria de sistemas</p>
                        <p class="curriculum-title__desc m-0">profesional TICs</p>

                    </div>
                    <button class="update-img">Actualizar</button>

                </div>
                {% endcomment %}

                <div class="profile-info__data">
                    <div class="own-data">
                        <h4 class="data-title">Informacion Personal</h4>
                        <div class="data-info">
                            <div class="data-info__row">
                                <div class="set-input max-w ">
                                    <input class="single-input" type="text" required>
                                    <span class="input-placeholder">Nombre Completo</span>
                                    <span class="input-icon"><i class="lni lni-handshake"></i></span>
                                </div>
                                <div class="set-input max-w ">
                                    <input class="single-input" type="text" required>
                                    <span class="input-placeholder">Correo Electronico</span>
                                    <span class="input-icon"><i class="lni lni-envelope"></i></span>
                                </div>
                            </div>
                            <div class="data-info__row">
                                <div class="select_input max-w">
                                    <span class="select_input__icon"><i class="lni lni-postcard"></i></span>
                                    <select class="select_input__select" name="" id="dni-type">
                                        <option value="dni" selected>Cedula</option>
                                        <option value="not-dni">Cedula Extranjera</option>
                                        <option value="passport">Pasaporte</option>
                                    </select>
                                    <label class="selec_input__floating-text" for="dni-type">Tipo Identificacion</label>
                                </div>
                                <div class="set-input max-w ">
                                    <input class="single-input" type="text" required>
                                    <span class="input-placeholder">Identificacion</span>
                                    <span class="input-icon"><i class="lni lni-license"></i></span>
                                </div>
                            </div>
                            <div class="data-info__row">
                                <div class="set-input max-w ">
                                    <input class="single-input" type="text" required>
                                    <span class="input-placeholder">Celular</span>
                                    <span class="input-icon"><i class="lni lni-whatsapp"></i></span>
                                </div>
                                <div class="set-input max-w ">
                                    <input class="single-input" type="text" required>
                                    <span class="input-placeholder">Telefono</span>
                                    <span class="input-icon"><i class="lni lni-phone"></i></span>
                                </div>
                            </div>
                            <div class="data-info__row">
                                <div class="select_input max-w">
                                    <span class="select_input__icon"><i class="lni lni-money-location"></i></span>
                                    <select class="select_input__select" name="" id="location">
                                        <option value="dni" selected>Bucaramanga</option>
                                        <option value="not-dni">San Gil</option>
                                        <option value="passport">Barrancabermeja</option>
                                    </select>
                                    <label class="selec_input__floating-text" for="location">Localidad</label>
                                </div>
                                <div class="set-input max-w ">
                                    <input class="single-input" type="text" required>
                                    <span class="input-placeholder">Direccion</span>
                                    <span class="input-icon"><i class="lni lni-direction"></i></span>
                                </div>
                            </div>
                            <div class="data-info__row">
                                <div class="group-data group-data__about">
                                    <p class="group-data__title m-0">sobre mi</p>
                                    <textarea name="" id="" cols="20" rows="4" class="texty"></textarea>
                                </div>
                            </div>
                            <div class="data-info__row">
                                <div class="group-data group-data__cv">
                                    <p class="group-data__title group-data__title--small m-0">Hoja de Vida</p>
                                    <div class="upload_input__file">
                                        <input class="upload_files" type="file" name="" id="upload-curriculum">
                                        <label class="upload_files__icon" for="upload-curriculum">Cargar 
                                            <span><i class="lni lni-arrow-up-circle"></i>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="data-info__row data-info__row--end">
                                <button class="data-info__btn--update" type="submit">Actualizar</button>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
{% endblock contentfluid %}