{% extends 'core/base.html' %} 
{% load static %} 
{% block title %}
    <title>{{app_title}} | {{title_view}}</title>
{% endblock title %} 

{% block content %}

<article class="forms-content">
    <section class="content-box">
      <section class="content-left d-none d-lg-block">
        {% include 'partials/_log_reg_left-content.html' %}
      </section>
      <section class="content-rigth">
        <div class="content-forms">
          <div class="form-head text-center">
            <h3 class="head-title text-uppercase">soporte</h3>
            <h3 class="head-subtitle">Póngase en contacto con nuestros departamentos de servicio al cliente</h3>
          </div>
          <div class="form-body">
           
          </div>
          <div class="form-footer text-center">
            <span class="footer-text">Si no puede comunicarse con nuestro equipo, hágalo desde nuestras redes sociales</span>
            <div class="footer-icons">
                <i class="lni lni-twitter-fill"></i>
                <i class="lni lni-facebook-fill"></i>
                <i class="lni lni-instagram-fill"></i>
            </div>
            

          </div>
        </div>
      </section>
     
    </section>
  </article>
   
{% endblock content %} 