{% extends 'core/base.html' %}
{% load static %}
{% block title %}
<title>{{app_title}} | {{title_view}}</title>
{% endblock title %}


{% block content %}
<section class="base__size">
    <div class="aside__container d-none d-lg-block">
        <div class="aside-content">
            <div class="sub-nav">
                <h5 class="m-0 sub-nav__title">Lorem</h5>
                <div class="sub-nav__items">
                    <ul class="m-0 p-0">
                        <li>
                            <a href="/profile_company">Perfil</a>
                        </li>

                        <li>
                            <a href="/notifications">Notificaciones</a>
                        </li>

                    </ul>
                </div>
            </div>
            <h3 class="m-0 filter-type__text">Filtrar Por</h3>
            <div class="aside-filters">
                <!-- {% include 'partials/_filters.html' %} -->
            </div>
            <div class="similar_oferts">
                <p class="m-0 fw-bold">Ofertas Similares</p>
                <a class="no_txt__deco" href="">
                    <button class="similar_oferts__ofert">
                        <p class="m-0 similar_ofert__title text-capitalize">VueJS frontend Developer</p>
                        <p class="m-0 similar_ofert__location">Bucaramanga</p>
                        <p class="m-0 similar_ofert__title similar_ofert__title--salary"><b>$ 3.800.000</b></p>
                    </button>
                </a>
                <a class="text-dark" href="/oferts">Ver todas las Ofertas</a>
            </div>
        </div>
    </div>
    <div class="no-aside__container content__center">
        <div class="ofert_detail__container">
            <div class="ofert_detail__content">
                <div class="detail_content__header">
                    <div class="detail_content__top">
                        <p class="m-0 detail_ofert__title text-uppercase">se busca programador(a) web</p>
                        <p class="m-0 detail_ofert__datetime">08 de febrero,202,10:58 A.M</p>
                    </div>
                    <div class="detail_content__botttom">
                        <div class="ofert_icons ofert_icon__detail">
                            <span class=""><i class="lni lni-apartment"></i></span>
                            <p class="m-0">Lorem S.a.S</p>
                        </div>
                        <div class="ofert_icons ofert_icon__detail">
                            <span class=""><i class="lni lni-apartment"></i></span>
                            <p class="m-0">Lorem S.a.S</p>
                        </div>
                        <div class="ofert_icons ofert_icon__detail">
                            <span class=""><i class="lni lni-apartment"></i></span>
                            <p class="m-0">Lorem S.a.S</p>
                        </div>
                        <div class="ofert_icons ofert_icon__detail">
                            <span class=""><i class="lni lni-apartment"></i></span>
                            <p class="m-0">Lorem S.a.S</p>
                        </div>
                    </div>
                </div>
                <div class="detail_content__body">
                    <p class="m-0 detail_content__subtitle">Descipcion</p>
                    <p class="m-0 detail_content__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat et, facilis, recusandae iusto dolore saepe cum corrupti modi excepturi possimus velit amet at odio dolorem porro animi neque sunt debitis.
                    Quod ea dignissimos tempore ab, quisquam perferendis accusantium ratione sunt nostrum dolorem omnis iure rerum deleniti amet, eius nesciunt fuga. Cum ea quaerat deleniti! Animi maxime aspernatur iusto suscipit impedit?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi nostrum, debitis vero velit nobis ut recusandae neque laudantium commodi aliquam totam minima impedit culpa ducimus provident error, reprehenderit vitae cumque?
                    </p>
                </div>
                <div class="detail_content__footer">
                    <div class="detail_content__requeriment">
                        <p class="m-0 detail_content__subtitle">Requisitos</p>
                        <p class="m-0"> Disponibilidad para viajar: No</p>
                        <p class="m-0">Disponibilidad de cambio de residencia: No</p>
                    </div>
                    <button class="apply_btn" type="submit">Aplicar</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}