{% extends 'core/base.html' %}
{% load static %}
{% block title %}
<title>{{app_title}} | {{title_view}}</title>
{% endblock title %}




{% block content %}
<section class="base__size">
    <div class="aside__container d-none d-lg-block">
        <div class="aside-content">
            <div class="sub-nav">
                <h5 class="m-0 sub-nav__title">Lorem</h5>
                <div class="sub-nav__items">
                    <ul class="m-0 p-0">
                        <li>
                            <a href="/profile_company">Perfils</a>
                        </li>

                        <li>
                            <a href="/notifications">Notificaciones</a>
                        </li>

                    </ul>
                </div>
            </div>
            <h3 class="m-0 filter-type__text">Filtrar Por</h3>
            <div class="aside-filters">
                {% include 'partials/_filters.html' %}
            </div>
        </div>
    </div>
    <div class="no-aside__container content__center">
        <div class="ofert_container">
            <div class="orderby_btn">
                <p class="m-0 orderby_btn__text">Odernar Por:</p>
                <div class="orderby_btn__filters">
                    <button class="filter_btn filter_btn--bordR">Titulo <i class="lni lni-sort-alpha-asc"></i></button>
                    <button class="filter_btn">Salario</button>
                    <button class="filter_btn filter_btn--bordL">Contrato</button>
                </div>
            </div>
            {% include 'partials/_card_ofert.html' %}
            <a class="no_txt__deco" href="/ofert_detail"><button class="card_ofert card_ofert__alternative">
                <div class="card_ofert__top">
                    <div class="ofert_top__header">
                        <div class="ofert_header">
                            <div class="ofert_header__priority text-capitalize">
                                urgente
                            </div>
                            <p class="ofert_header__title m-0 text-uppercase">se desarrolador(a) web</p>
                        </div>
                        <div class="ofert_header__tags">
                            <div class="single__tag single__tag--yellow">
                                <p class="tag text-capitalize m-0">frontend</p>
                            </div>
                            
                            <div class="single__tag single__tag--darkblue">
                                <p class="tag text-capitalize m-0">developer</p>
                            </div>
                            <div class="single__tag single__tag--purple">
                                <p class="tag text-capitalize m-0">web developer</p>
                            </div>
                        </div>
                    </div>
                    <div class="ofert_top__bottom">
                        <div class="ofert_icons">
                            <span class=""><i class="lni lni-apartment"></i></span>
                            <p class="m-0">Lorem S.a.S</p>
                        </div>
                        <div class="ofert_icons">
                            <span class=""><i class="lni lni-briefcase"></i></span>
                            <p class="m-0">Contrato Definido</p>
                        </div>
                        <div class="ofert_icons">
                            <span class="ofert_icons__icon"><i class="lni lni-alarm-clock"></i></span>
                            <p class="m-0">Tiempo Completo</p>
                        </div>
                    </div>
                    <div class="divisor"></div>
                </div>
                <div class="card_ofert__middle">
                    <p class="m-0">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet, eaque officiis? Minima dolores, sint, nostrum modi corrupti saepe tempore optio molestias nemo ratione culpa magni, voluptates cum quibusdam sit incidunt. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda nemo, aut quo blanditiis nisi ratione rerum ipsa reiciendis, aperiam, eligendi quasi. Rerum dignissimos expedita commodi fugiat eveniet ab modi explicabo!
                    </p> 
                </div>
                <div class="card_ofert__bottom">
                    <div class="salary_hoped">
                        <p class="m-0">Salario Estimado: <b>$2.000.000</b> </p>
                    </div>
                    <a class="normal_btn watch_ofert d-none" href="">Ver Oferta</a>
                </div>
            </button></a>
            <button class="card_ofert card_ofert__alternative">
                <div class="card_ofert__top">
                    <div class="ofert_top__header">
                        <div class="ofert_header">
                            <div class="ofert_header__priority text-capitalize">
                                urgente
                            </div>
                            <p class="ofert_header__title m-0 text-uppercase">se desarrolador(a) web</p>
                        </div>
                        <div class="ofert_header__tags">
                            <div class="single__tag single__tag--yellow">
                                <p class="tag text-capitalize m-0">frontend</p>
                            </div>
                            
                            <div class="single__tag single__tag--darkblue">
                                <p class="tag text-capitalize m-0">developer</p>
                            </div>
                            <div class="single__tag single__tag--purple">
                                <p class="tag text-capitalize m-0">web developer</p>
                            </div>
                        </div>
                    </div>
                    <div class="ofert_top__bottom">
                        <div class="ofert_icons">
                            <span class=""><i class="lni lni-apartment"></i></span>
                            <p class="m-0">Lorem S.a.S</p>
                        </div>
                        <div class="ofert_icons">
                            <span class=""><i class="lni lni-briefcase"></i></span>
                            <p class="m-0">Contrato Definido</p>
                        </div>
                        <div class="ofert_icons">
                            <span class="ofert_icons__icon"><i class="lni lni-alarm-clock"></i></span>
                            <p class="m-0">Tiempo Completo</p>
                        </div>
                    </div>
                    <div class="divisor"></div>
                </div>
                <div class="card_ofert__middle">
                    <p class="m-0">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet, eaque officiis? Minima dolores, sint, nostrum modi corrupti saepe tempore optio molestias nemo ratione culpa magni, voluptates cum quibusdam sit incidunt. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda nemo, aut quo blanditiis nisi ratione rerum ipsa reiciendis, aperiam, eligendi quasi. Rerum dignissimos expedita commodi fugiat eveniet ab modi explicabo!
                    </p> 
                </div>
                <div class="card_ofert__bottom">
                    <div class="salary_hoped">
                        <p class="m-0">Salario Estimado: <b>$2.000.000</b> </p>
                    </div>
                    <a class="normal_btn watch_ofert d-none" href="">Ver Oferta</a>
                </div>
            </button>
            
        </div>
    </div>
</section>
{% endblock content %}