{% extends 'core/base.html' %}
{% load static %}
{% block title %}
<title>{{app_title}} | {{title_view}}</title>
{% endblock title %}


{% block content %}
<section class="base__size">
    <div class="aside__container d-none d-lg-block">
        <div class="aside-content">
            <div class="sub-nav">
                <h5 class="m-0 sub-nav__title">Lorem</h5>
                <div class="sub-nav__items">
                    <ul class="m-0 p-0">
                        <li>
                            <a href="/profile_company">Perfil</a>
                        </li>

                        <li>
                            <a href="/notifications">Notificaciones</a>
                        </li>

                    </ul>
                </div>
            </div>
            <h3 class="m-0 filter-type__text">Filtrar Por</h3>
            <div class="aside-filters">
                {% include 'partials/_filters.html' %}
            </div>
        </div>
    </div>
    <div class="no-aside__container">
        <div class="publish-container">
            <p class="publish-container__title text-uppercase m-0">publicaciones</p>
            <div class="publish-container__new-btn">
                <a href="/new_publicate">
                    <button type="submit" class="normal_btn text-capitalize">nueva publicacion</button>
                </a>
                </button>
                <p class="m-0 text-capitalize publish-count">total de publicaciones: #</p>
            </div>
            <div class="publish-container__table">

                <table class="publications-table">
                    <tr class="rw-title">
                        <th class="column-order__btn">
                            <button class="orderby-btn">#
                                <i class="lni lni-sort-alpha-asc"></i>
                            </button>
                        </th>
                        <th>
                            titulo de la oferta
                        </th>
                        <th>
                            publicacion
                        </th>
                        <th>
                            vacantes
                        </th>
                        <th>
                            candidatos
                        </th>
                        <th>
                            estado
                        </th>
                        <th>

                        </th>
                    </tr>
                    <tr class="row-info">
                        <td class="text-center">1</td>
                        <td class="ty">se busca programador web</td>
                        <td>08/02/2022</td>
                        <td>10</td>
                        <td>5</td>
                        <td>activo</td>
                        <td class="edit-icon">
                            <a href="/edit_publish" title="Editar"><i class="lni lni-pencil-alt"></i></a>
                        </td>
                    </tr>
                    <tr class="row-info">
                        <td class="text-center">2</td>
                        <td class="ty">se busca desarrollador backend</td>
                        <td>08/02/2022</td>
                        <td>10</td>
                        <td>5</td>
                        <td>activo</td>
                        <td class="edit-icon">
                            <a href="/edit_publish" title="Editar"><i class="lni lni-pencil-alt"></i></a>
                        </td>
                    </tr>
                    <tr class="row-info">
                        <td class="text-center">3</td>
                        <td class="ty">Dveloper ful stack</td>
                        <td>08/02/2022</td>
                        <td>10</td>
                        <td>5</td>
                        <td>activo</td>
                        <td class="edit-icon">
                            <a href="/edit_publish" title="Editar"><i class="lni lni-pencil-alt"></i></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock content %}