{% extends 'core/base.html' %}
{% load static %}
{% load format_numbers %}

{% block title %}
<title>{{app_title}} | {{title_view}}</title>
{% endblock title %}

{% block contentfluid %}
<section class="layout-section">
  {% include 'partials/_aside.html' %}
  <div class="main-section">
    <div class="container">
      {% if object_list %}
        {% for object in object_list %}
        <div class="card p-4 rounded-4 mb-4 bid-letter position-relative">
          <div class="card-body">
            <div class="row">
              <div class="col-12 d-flex justify-content-between mb-1">
                <div>
                  <h4 class="fs-5 fw-bold m-0">{{ object.title }}</h4>
                </div>
                <div class="d-flex gap-3">
                  {% include 'partials/_gettags.html' %}
                </div>
              </div>
              <div class="col-12 d-flex gap-3 mb-4">
                <div class="d-flex gap-1 align-items-center">
                  {% include 'partials/icon_element/_build_icon.html' %}
                  <span class="text-muted">{{object.user.userprofile.company_profile.name}}</span>
                </div>
                <div class="d-flex gap-1 align-items-center">
                  {% include 'partials/icon_element/_suitcase_icon.html' %}
                  <span class="text-muted">{{object.conttype}}</span>
                </div>
                <div class="d-flex gap-1 align-items-center">
                  {% include 'partials/icon_element/_time_icon.html' %}
                  <span class="text-muted">{{object.workday}}</span>
                </div>
              </div>
            </div>
  
            <p>{{ object.description }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <p class="m-0">Salario estimado: <strong>{{ object.currency }} {{ object.salary|currency_format }} {{ object.payperiod }}</strong></p>
              <a href="{% url 'offer_app:offer_detail' object.slug %}" class="btn btn-primary rounded-pill px-4 stretched-link" role="button">
                {% if usergroups or request.user.is_staff %}
                Visualizar
                {% else %}
                Aplicar
                {% endif %}
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      {% else %}
      Sin registros
      {% endif %}
    </div>
  </div>
</section>
{% comment %} <article class="footer position-relative" style="z-index: 2;">
  {% include 'partials/_footer.html' %}
</article> {% endcomment %}

{% endblock contentfluid %}
