{% load static %}

<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <form method="POST" action="{% url 'offer_app:candidature_save' slug username %}?status={{status}}&path={{path}}" id="form">
      <div class="modal-header">
        <h5 class="modal-title">Postulación</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        {% csrf_token %}
        <div class="alert alert-warning" role="alert">
          {% if status %}
          ¿Está seguro que quiere hacer esto?
          {% else %}
          ¿Está seguro que quiere aplicar a {{object.title}}?
          {% endif %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button type="submit" class="btn btn-primary">Continuar</button>
      </div>
    </form>
  </div>
</div>